body{
    background-color: rgb(32, 33, 76);
}
main {
    background-color: rgba(250, 250, 255, 0.668);
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    border-radius: 10px;
}
.num1{
    visibility: visible;
    width: 80px;
    height: 80px;
    
    position: relative;
    left: 35vw;
    top: 0vh;
    margin-top: -16%;
   
}
.num2
{
    visibility: visible;
    width: 80px;
    height: 80px;
    position: relative;
    top: 0vh;
    left: 0vw;

    margin-top: -16%;
}
#se1{
    position: relative;
    left: 1.2%;
    top:-40%;
}
#se2{
margin-top: 7%;
    position: relative;
    left: 6.1%;
    top: -28%;


}

#im10{
    position: relative;
left: 38.9%;

visibility: hidden;
}
#im20{
    position: relative;
left: 31.4%;
visibility: hidden;

}
#im30{
    position: relative;
left: 23.4%;
visibility: hidden;

}
#im40{
    position: relative;
left: 15.8%;
visibility: hidden;

}
#im50{
    position: relative;
left: 7.6%;
visibility: hidden;

}
#im6{
    position: relative;
    left: 4.6%;
    visibility: hidden;
}
#im5{
    position: relative;
left: 12.6%;
visibility: hidden;
}
#im4{
    position: relative;
left: 20.2%;
visibility: hidden;
}
#im3{
    position: relative;
left: 28.2%;
visibility: hidden;
}
#im2{
    position: relative;
left: 36%;
visibility: hidden;
}
input{
    position: relative;
    top: -20%;
    left: 1.7%;
    padding: 7px 20px;
    background-color: rgba(255, 255, 255, 0.365);
    border-radius: 8px;
    
}
button{
    position: relative;
    top: -10%;
    left: -6.5%;
    padding:  4px 20px;
    background-color: rgba(255, 255, 255, 0.365);
    border-radius: 8px;
}

#p1,
#p2
{
    display: inline;
background-color: rgb(60, 60, 93);
padding: 30px;
border-radius: 10px;
border: 2px solid black;
position: relative;
top: -14%;
left: 10.5%;
}
#se-1 button{
    position: relative;
    top: -35%;
    left: -36.3%;
    padding: 10px;
}
#p2{
left: 68%;
}
#se0,
#se-1{
    display: inline;
    position: relative;
    left:10% ;
    top: 5%;
}
#se-1{
    position: relative;
    left:80% ;
    top: -31%;
}
.rang1{
    position: absolute;
    top: 3%;
    left:04.2%;
    font-size: 40px;
}
#secondly{
    background-color: white;
    width: 1200px;
    height: 500px;
   position: relative;
   top: -107%;
   left: -7%;
   border: 7px solid black;
   border-radius: 20px;
   background-color: rgb(65, 65, 96);
   /* visibility: hidden; */
}
#secondly h1{
    position: absolute ;
    left: 44%;
}
#secondly input{
    position: absolute;
    left: 45.5%;
    top: 15%;
    width: 90px;
}
#sub{
margin-top: 5%;
margin-left: 2%;
}
.wg{ position: relative;
    top:-28%;
    display: inline;
    visibility: hidden;
}
#lose1{
    position: relative;
    left: -8%;
}
#win2{
    position: relative;
    left: 8%;
}
#se-1{
    display: inline;
}
#se0{
    display: inline;
}
#win2{
    position: relative;
    left: 0.5%;
    bottom: -100%;
}
.zero{
    position: relative;
 
    left: -30%;
    margin-left: -3.2%;
    margin-top: -10%;
    display: inline;

}
#SBU{
    margin-left :0%;
}
#AI{
    color: white;
    background-color: black;
}
.wg1{
    /* background-color: red; */
   margin-left: -33%;
   margin-top: -1%;
}
#onep{
    margin-top: -5%;
}